<div ui-content-for="menu-action">  
    <div class="btn sidebar-toggle">
        
  </div>
</div>
<div ui-content-for="navbarAction">
    <div ui-toggle="uiSidebarRight" class="btn">
       
    </div>
</div>

<div ui-content-for="title">
    <span>News</span>
</div>

<div class="scrollable">
    <div class="scrollable-content scrolable_content_bg" style="background: #fafafa;">
        <div class="list-group">

            <ul class="list-group">
                <li>
                    <ul class="list-group">
                        <li ng-repeat="news in newsList" class="list-group-item" 
                            style="margin-left: 10px; margin-right: 10px; background: #fff;border: 1px #EBEBEB solid;">
                            <table>
                                <tr>
                                    <td style="width: 20%;">
                                        <img ng-src="http://localhost:8080/psnews/images/{{news.newsDesc}}.jpeg" 
                                    style="height: 70px;width: 100px; background-color: #aaa;"/>
                                        
                                    </td>
                                    <td style="width: 5%;">
                                    </td>
                                    <td style="width: 75%;">
                                        <div><strong>{{news.newsDesc}}</strong></div>
                                        <div style="color:#c7c7c7; font-size:12px;">{{news.createdDate}}</div>
                                    </td>
                                    
                                </tr>
                            </table>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
