<div ui-content-for="menu-action">  
    <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
        <i class="fa fa-bars" style ="color:#FFF;"></i>
  </div>
</div>
<div ui-content-for="navbarAction">
    <div ui-toggle="uiSidebarRight" class="btn">
         <!--<a class="btn"><i class="fa fa-question" style ="color:#FFF;"></i></a>-->
    </div>
</div>


<div ui-content-for="title">
    <span>Constitution News</span>
   <!-- <span>Trending</span>-->
</div>


<div class="scrollable">
    <div class="scrollable-content scrolable_content_bg" style="background: #FFF;">
        <div class="list-group">

            <ul class="list-group">
                <li>
                    <ul class="list-group">
                        <!--<li ng-repeat="news in newsList" class="list-group-item" 
                            style="margin-left: 10px; margin-right: 10px; background: #fff;border: 1px #EBEBEB solid;">
                            <table>
                                <tr>
                                    <td style="width: 50%;">
                                        <img ng-src="https://mytomcatapp-pallesamachar.rhcloud.com/psnews/uploads/news{{news.newsId}}.jpeg" 
                                    style="height: 70px;width: 100px; background-color: #aaa;"/>
                                        
                                    </td>
                                    <td style="width: 50%;">
                                        <div><strong>{{news.newsDesc}}</strong></div>
                                        <div style="color:#c7c7c7; font-size:12px;">{{news.createdDate}}</div>
                                    </td>
                                    
                                </tr>
                            </table>
                        </li>-->
                         <li ng-repeat="news in newsList" class="list-group-item" 
                            style="margin-left: 10px; margin-right: 10px; background: #F5F6FA;border: 1px #EBEBEB solid;">
                            <table>
                                <tr>
                                    <td style="width: 30%;">
                                         <img ng-src="https://mytomcatapp-pallesamachar.rhcloud.com/psnews/uploads/news{{news.newsId}}.jpeg"
                                              style="height: 70px;width: 100px; background-color: #aaa;"/>
                                
                                    </td>
                                     <td style="width: 5%;">
                                    </td>
                                    <td style="width: 65%;">
                                       <div style="position: absolute;top: 10px; font-size:small;"><strong>{{news.newsDesc}}</strong></div>
                                        <div style="color:#c7c7c7; position: absolute;bottom: 10px;font-size:12px;">{{news.createdDate}}</div>
                                    </td>
                                    
                                </tr>
                            </table>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
