
<div ui-content-for="menu-action">  
    <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
        <i class="fa fa-bars" style ="color:#FFF;"></i>
  </div>
</div>
<div ui-content-for="navbarAction">
    <div ui-toggle="uiSidebarRight" class="btn">
        <a class="btn"><i class="fa fa-question" style ="color:#FFF;"></i></a>
    </div>
</div>
<div ui-content-for="title">
  <span>Dashboard</span>
</div>




<div class="scrollable">  
  <div class="scrollable-content scrolable_content_bg">
    <div class="list-group" style="margin-top: 50px; margin-left: 20px; margin-right: 20px" >

    	<!-- ADD SHIFT -->
    	<div style="width: 100%; height: 40px; margin-top: 20px;" ui-sref="addShifts">
    		<button style="height: 40px; width: 10%; border-style: none;background-color:#f17c30; color:#FFF;"><i class="fa fa-plus"></i></button><button style="height: 40px;border-style: none; font-weight:bold; width: 90%;">ADD SHIFT <i class="fa fa-arrow-right pull-right"></i></button>
    	</div>
    	
    	<!-- ADD AN EVENT -->
    	<div style="width: 100%; height: 40px; margin-top: 20px;" ui-sref="addEvents">
    		<button style="height: 40px; width: 10%;border-style: none;background-color:#f17c30; color:#FFF;"><i class="fa fa-plus"></i></button><button style="height: 40px;font-weight:bold; border-style: none;width: 90%;">ADD AN EVENT <i class="fa fa-arrow-right pull-right"></i></button>
    	</div>

    	<!-- TODAY'S SHIFTS -->
    	<div style="width: 100%; height: 40px; margin-top: 20px;">
    		<button style="height: 40px; width: 10%;border-style: none;background-color:#0078FF; color:#FFF;"><b>{{dashboard_data.todayShift}}</b></button><button style="border-style: none;height: 40px;font-weight:bold; width: 90%;">TODAY'S SHIFTS <i class="fa fa-arrow-right pull-right"></i></button>
    	</div>
            
    	<!-- TODAY'S EVENTS -->
    	<div style="width: 100%; height: 40px; margin-top: 20px;">
    		<button style="height: 40px; width: 10%;border-style: none;background-color:#00CA8F; color:#FFF;"><b>{{dashboard_data.todayEvent}}</b></button><button style="border-style: none;height: 40px;font-weight:bold; width: 90%;">TODAY'S EVENTS <i class="fa fa-arrow-right pull-right"></i></button>
    	</div>

    	<!-- NO. OF REQUESTS -->
    	<div style="width: 100%; height: 40px; margin-top: 20px;">
    		<button style="height: 40px; width: 10%;border-style: none;background-color:#999999; color:#FFF;" 
            ng-click="gotoRequestPage();" ><b>{{dashboard_data.noRequest}}</b></button><button style="border-style: none;border-style: none;font-weight:bold;height: 40px; width: 90%;" ng-click="gotoRequestPage();">NO. OF REQUESTS <i class="fa fa-arrow-right pull-right"></i></button>
    	</div>


    </div>
  </div>
</div>