<div ui-content-for="menu-action">
    <div class="btn sidebar-toggle">
        <a ng-click="goBack();" style="color: #fff;"><i class="fa fa-arrow-left"></i></a>
    </div>
</div>
<div ui-content-for="navbarAction">
    <div ui-toggle="uiSidebarRight" class="btn">
        <!--  <a ng-click="addEmployee()" style="color: #fff;"class="btn"><i class="fa fa-plus"></i></a>-->
    </div>
</div>

<div ui-content-for="title">
    <span>Send Message</span>
</div>

<div class="scrollable">
    <div class="scrollable-content scrolable_content_bg" style="background: #fafafa;">
      <div class="panel-body">

            <form name="sendMessageFrom" role="form" novalidate>
                <div class="form-group">
                        <select name="EmployeeID" ng-class="{submitted:isSubmitted}" class="form-control" 
                            placeholder="Select Employee"  required id="EmployeeID" ng-model="sendMessageFormData.employeeId">
                            <option value="" selected="selected">Select Employee</option>
                            <option ng-repeat="option in employeesList" value="{{option.employeeId}}">{{option.firstName}}</option>
                        </select>

                </div>
               
                <div class="form-group">
                    <input type="text" name="subject"
                        ng-model="sendMessageFormData.subject"  style="height: 40px; width: 100%; margin-top: 10px;"
                        placeholder="Subject" required
                        ng-class="{submitted:isSubmitted}" />
                </div>
                <div class="form-group">

                    <textarea rows="4" cols="50"
                        name="message"
                        ng-model="sendMessageFormData.message" style="width: 100%; margin-top: 10px;"
                        placeholder="Message" required
                        ng-class="{submitted:isSubmitted}" ></textarea>
                </div>
                <div class="form-group">
                    <button style="height: 40px; width: 100%; margin-bottom: 10px; margin-top: 10px;" class="SubmitButton" ng-click="SendMessage(sendMessageFrom)">SEND</button>
                     <div style="color:green;" ng-show="isMessage">Your message sent successfully.</div>

                </div>
            </form>

        </div>
    </div>
</div>
