<div class="scrollable" style="display: table;">


    <div class="scrollable-header app-name action_bar_bg">
        <table>
            <tr>
                <td style="width: 20%;">
                    Menu
                </td>
                <td style="width: 70%;">
                </td>
                <td style="width: 10%;" ui-turn-off='uiSidebarLeft'>

                
                </td>
            </tr>

        </table>



    </div>



</div>

<div class="scrollable-content scrolable_content_bg">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" ng-click="districtNews()"><i class="fa fa-home fa-navbar"></i>Disricts Wise</a>
      <a class="list-group-item" ng-click="districtNews()"><i class="fa fa-home fa-navbar"></i>Disricts Wise</a>

      <a class="list-group-item" ng-click="districtNews()"><i class="fa fa-home fa-navbar"></i>Disricts Wise</a>
      <a class="list-group-item" ng-click="mandalNews()"><i class="fa fa-home fa-navbar"></i> Constitution Wise</a>
    </div>
</div>
</div>
