<div class="scrollable" >


    <div class="scrollable-header app-name action_bar_bg">
        <table>
            <tr>
                <td style="width: 20%;">Menu
                </td>
                <td style="width: 70%;"></td>
                <td style="width: 10%;" ui-turn-off='uiSidebarLeft'></td>
            </tr>

        </table>



    </div>


    <div class="scrollable-content scrolable_content_bg" style="background-color:#304050;">
        <div class="list-group" ui-turn-off='uiSidebarLeft' style="font-size: large;">
            <a class="list-group-item"  style="color:#FFF;background-color:#304050; border-bottom:0px;"  ng-click="districtNews()"><i class="fa fa-tasks fa-navbar"></i> District Wise</a>
            <a class="list-group-item" style="color:#FFF;background-color:#304050;border-bottom:0px;" ng-click="mandalNews()"><i class="fa fa-list fa-navbar"></i> Constitution Wise</a>
        </div>
    </div>
</div>



